*{
	font-family: 'Raleway', sans-serif;
}
body {
  height: 100%
}

.title{
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: -7vh;
}
#title-name{
	display: inline-block;
	font-size: 72px;
	font-weight: 400;
}
#title-header{
	font-size: 22px;
	font-weight: 350;
	letter-spacing: 2px;
	padding-top: 20px;
}

.line {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 1px;
	height: 1px;
	background: #000000;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#mobile-menu {
	background-color: #FFFFFF;
	margin: 0 auto;
	text-align: center;
	display: none;
	min-width: 100%;
}
.mobile-link {
	min-height: 100%;
	min-height: 33.333333vh;
	display: flex;
	align-items: center;
}

/*Mobile CSS*/
@media (max-width: 768px) {
	.navbar-toggler {
	    position: fixed;
	    top: 0;
	    left: 0;
	}
	.navbar {
		display: none;
	}
	.parallax-slider {
		display: none;
	}
	.parallax-pic {
		display: none;
	}
	.parallax-window {
		background-image: url("../images/mountainmobile.jpg");
		min-height: 700px;
		background-size: cover;
		background-position: center;
	}
	.mobile-menu-button {
		z-index: 1000;
		position: fixed;
		left: 3%;
		top: 2%;
	}
	.mobile-menu-button-link {
		color: #000000;
	}

}

/*Tablet/Laptop/Desktop CSS*/
@media (min-width: 769px) {
	.parallax-window {
    	min-height: 700px;
    	background: transparent;
	}
	.parallax-pic {
		width:100%;
		height:auto;
		object-fit: contain
	}
	.mobile-menu-button {
		display: none;
	}
}

.brandname{
	letter-spacing: 1.5px;
	color: black;
	font-size: 22px;
	font-weight: 450;
}
.brandname:hover{
	text-decoration: none;
	color: black;
}