*{
	font-family: 'Raleway', sans-serif;
}
body {
  height: 100%
}

.title{
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: -7vh;
}
#title-name{
	display: inline-block;
	font-size: 72px;
	font-weight: 400;
}
#title-header{
	font-size: 22px;
	font-weight: 350;
	letter-spacing: 2px;
	padding-top: 20px;
}

.line {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 1px;
	height: 1px;
	background: #000000;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.brandname{
	letter-spacing: 1.5px;
	color: black;
	font-size: 22px;
	font-weight: 450;
}
.brandname:hover{
	text-decoration: none;
	color: black;
}

/*Mobile CSS*/
@media (max-width: 768px) {
	.navbar-toggler {
	    position: fixed;
	    top: 0;
	    left: 0;
	}
	.navbar {
		display: none;
	}
	.parallax-slider {
		display: none;
	}
	.parallax-pic {
		display: none;
	}
	.parallax-window {
		background-image: url("../images/mountainmobile.jpg");
		min-height: 700px;
		background-size: cover;
		background-position: center;
	}
	#mobile-menu-container {
		background-color: #2b2827;
		margin: 0 auto;
		text-align: center;
		display: none;
		min-width: 100%;
		position: fixed;
		z-index: 99;
	}
	.mobile-menu {
	  min-height: 100%;
	  min-height: 100vh;
	  align-items: center;
	}
	.mobile-menu-vertical-center {
		min-height: 100%;
	    min-height: 33.33vh;
		display: flex;
	    align-items: center;
	}
	#home-link:hover {
		text-decoration: none;
		color: #f45342;
	}
	#home-link {
		color: #ffffff;
	}
	#about-link:hover {
		text-decoration: none;
		color: #f45342;
	}
	#about-link {
		color: #ffffff;
	}
	#contact-link:hover {
		text-decoration: none;
		color: #f45342;
	}
	#contact-link {
		color: #ffffff;
	}
	.mobile-menu-bars {
		z-index: 1000;
		position: fixed;
		left: 3%;
		top: 2%;
	}
	.fa-circle {
		color: #2b2827;
	}
	.fa-bars {
		color: #ffffff;
	}
	.mobile-menu-times {
		display: none;
		z-index: 1000;
		position: fixed;
		left: 3%;
		top: 2%;
		color: #ffffff;
	}
}

/*Tablet/Laptop/Desktop CSS*/
@media (min-width: 769px) {
	.parallax-window {
    	min-height: 700px;
    	background: transparent;
	}
	.parallax-pic {
		width:100%;
		height:auto;
		object-fit: contain
	}
	.mobile-menu-bars {
		display: none;
	}
	.mobile-menu-times {
		display: none;
	}
	#mobile-menu-container {
		display: none;
	}
}