body {
	position: relative;
}

.title{
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: -7vh;
}
#title-name{
	font-family: 'Raleway', sans-serif;
	display: inline-block;
	font-size: 72px;
	font-weight: 400;
}
#title-header{
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	font-weight: 350;
	letter-spacing: 2px;
	padding-top: 20px;
}

.line {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 1px;
	height: 1px;
	background: #000000;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.brandname{
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1.5px;
	color: black;
	font-size: 22px;
	font-weight: 450;
}
.brandname:hover{
	text-decoration: none;
	color: black;
}
.nav-link {
	font-family: 'Raleway', sans-serif;
}

.active {
	font-weight: bolder;
}

.container {
	padding-left: 25px;
	padding-right: 25px;
}

.section {
	padding-top: 10%;
	padding-bottom: 10%;
}

.section-header {
	font-family: 'Raleway', sans-serif;
	font-size: 48px;
	font-weight: 450;
	display: inline-block;
}
.section-header-container {
	text-align: center;
}
.profile-picture {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}

#about-line-properties {
	margin-bottom: 20px;
}
#education-line-properties {
	margin-bottom: 20px;
}
#contact-line-properties {
	margin-bottom: 20px;
}

.section-text {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin-top: 30px;
}

.education-text-container {
	margin-bottom: 40px;
}
#sp-education-text-container {
	margin-bottom: 10px;
}

.coursework-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.coursework-item {
	margin-bottom: 30px;
}
#hide-coursework {
	display: none;
}
.coursework-button {
	margin-bottom: 20px;
}
.fa-plus-square:hover {
	color: #82E0E0;
}
.fa-minus-square:hover {
	color: #82E0E0;	
}
.coursework-list {
	display: none;
}

.project-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.project-item {
	margin-bottom: 30px;
}
.project-inner-item {
	margin-bottom: 30px;
}
#hide-projects {
	display: none;
}
.project-button {
	margin-bottom: 20px;
}
.project-list {
	display: none;
}
.project-inner-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.metro-map-maker {
	display: none;
}
.vt100 {
	display: none;
}
.fa-caret-square-up:hover {
	color: #82E0E0;
}
.fa-caret-square-down:hover {
	color: #82E0E0;	
}
#hide-metro {
	display: none;
}
#hide-vt100 {
	display: none;
}


.project-picture {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.btn-mod {
	background-color: #2b2827;
	color: #ffffff;
}

.btn-mod:hover {
	color: #82E0E0;
}


/*Mobile CSS*/
@media (max-width: 768px) {
	.navbar-toggler {
	    position: fixed;
	    top: 0;
	    left: 0;
	}
	.navbar {
		display: none;
	}
	.parallax-slider {
		display: none;
	}
	.parallax-pic {
		display: none;
	}
	.parallax-window {
		background-image: url("../images/mountainmobile.jpg");
		min-height: 400px;
		background-size: cover;
		background-position: center;
	}
	#mobile-menu-container {
		background-color: #2b2827;
		margin: 0 auto;
		text-align: center;
		display: none;
		min-width: 100%;
		position: fixed;
		z-index: 99;
	}
	.mobile-menu {
	  	min-height: 100%;
	  	min-height: 100vh;
	  	align-items: center;
	  	justify-content: center;
	  	display: flex;
	}
	.mobile-link-list {
		list-style-type: none;
		padding: 0;
    	margin: 0;
	}
	.mobile-link-item {
		margin-bottom: 5em;
	}
	.mobile-link:hover {
		text-decoration: none;
		color: #82E0E0;
	}
	.mobile-link {
		color: #ffffff;
		font-family: 'Raleway', sans-serif;
	}
	.mobile-menu-bars {
		z-index: 1000;
		position: fixed;
		left: 3%;
		top: 2%;
	}
	.fa-circle {
		color: #2b2827;
	}
	.fa-bars {
		color: #ffffff;
	}
	.mobile-menu-times {
		display: none;
		z-index: 1000;
		position: fixed;
		left: 3%;
		top: 2%;
		color: #ffffff;
	}
}

/*Tablet/Laptop/Desktop CSS*/
@media (min-width: 769px) {
	.parallax-window {
    	min-height: 700px;
    	background: transparent;
	}
	.parallax-pic {
		width:100%;
		height:auto;
		object-fit: contain
	}
	.mobile-menu-bars {
		display: none;
	}
	.mobile-menu-times {
		display: none;
	}
	#mobile-menu-container {
		display: none;
	}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #title-name {
    	color: red;
    }
}